.container.main{
    position: relative;
    height:115em;
    background-color: gainsboro;
    left: 10px;
    top: 50px;
    bottom: 50px;
    border: 1px solid gray;
    box-shadow: 10px 10px 5px gray;
}
.container{
    position: absolute;
    
    top: 30px;
    
}
.headimg{
    width: 70px;
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
}

.card-text.first{
    font-family: serif;
    line-height: 1;
    width: 100px;
}
.container.second{
    position: absolute;
    background-color: gainsboro;
    left: 0px;
    top: 160px;
    
    height: 40px;
    padding-top: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 1;
}
.container.third{
    position: absolute;
    top: 190px;
    left: 0px;
    
    height:100rem;
    background-color:gainsboro;
}
.card.mb-3{
    border-color:white;
}
.container.fourth{
    position: absolute;
    top: 1550px;
    padding-top: 20px;
    
    height: 5em;
    background-color: black;
    color: white
}
.card.electric{
    background-color: gainsboro;
    border: 1px solid gainsboro;
}
.card.mb-3{
    background-color: gainsboro;
    border: 1px solid gainsboro;
}
.main1{
    font-size: 20px;
}